$titleColor: #333;
$numberColor: #F5B7C5;
$nameColor: #68c4af;
$backgroundColor: #eee;

body {
  background: $backgroundColor;
  overflow: hidden;
  font-family: "Quicksand";
}

.header {
  position: absolute;
  left: 10px;
  top: 10px;
  h1, h2 {margin: 0}
  
  h1 {color: $titleColor;}
  .number {color: $numberColor;}
  .type { color: $nameColor; }
  .social a img { 
    margin-top: 10px; 
    height: 1.5em; 
  }
}

#clock {
  width: 60vh;
  height: 60vh;
  margin: 20vh auto;
  background: #FFF;
  border-radius: 50%;
  position: relative;
  border: 10px solid $nameColor;
  box-shadow: 0px 4px 20px #666;
}

#birds_container {
  width: 40vh;
  height: 20vh;
  position: absolute;
  top: 15.5vh;
  left: 8vh;
}

#line_divider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 29.5vh;
  border-bottom: 2px solid #CCC;
  z-index: 0;
}

#center {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  top: 28vh;
  background: #666;
  position: absolute;
  left: 28vh;
  z-index: 10;
}

.handlers {
  position: absolute;
  top: 9%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  z-index: 1;
}

.handler {
  width: 50%;
  right: 24.5vh;
  height: 5px;
  position: absolute;
  top: 50%;
  border-radius: 2px;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.handler.hour {
  width: 20%;
  z-index: 3;
  background: #F5B7C5;
}

.handler.minute {
  z-index: 10;
  width: 35%;
  background: #a2a2a2;
}

.handler.second {
  background: #FFE999;
  width: 50%;
}
