$titleColor: #74ee15;
$numberColor: #FFF;
$nameColor: #ffe700;

:root {
  --primaryColor: #90ff2a;
  --backgroundPrimary: #232c69;
  --backgroundSecondary: #131a47;
}

body {
  background: radial-gradient(
      ellipse at center,
      var(--backgroundPrimary) 0%,
      var(--backgroundSecondary) 100%
    )
    fixed;

  overflow: hidden;
  font-family: "Quicksand";
  min-width: 350px;
}

.header {
  position: absolute;
  left: 10px;
  top: 10px;
  h1,
  h2 {
    margin: 0;
  }

  h1 {
    color: $titleColor;
  }
  .number {
    color: $numberColor;
  }
  .type {
    color: $nameColor;
  }
  .social a img {
    margin-top: 10px;
    height: 1.5em;
  }
}

.content {
  width: 150px;
  height: 350px;
  position: absolute;
  left: calc(50% - 75px);
  bottom: 25px;
  border-radius: 50% / 20%;
  border: 4px solid var(--primaryColor);
  box-shadow: 0 0 1px var(--primaryColor), 0 0 5px var(--primaryColor),
    0 0 10px var(--primaryColor), inset 0 0 1px var(--primaryColor),
    inset 0 0 5px var(--primaryColor), inset 0 0 10px var(--primaryColor);
  transform-origin: center;
  animation: rotate 4s linear infinite;
}

.top {
  position: absolute;
  width: 100%;
  left: 0;
  height: 20%;
  top: 20%;
}
.bottom {
  position: absolute;
  width: 100%;
  left: 0;
  height: 20%;
  bottom: 10%;
}

.wheels {
  .left {
    position: absolute;
    left: 10%;
    width: 20%;
    padding-bottom: 30%;
    border-radius: 50% / 25%;
    border: 4px solid var(--primaryColor);
    box-shadow: 0 0 1px var(--primaryColor), 0 0 5px var(--primaryColor),
      0 0 10px var(--primaryColor), inset 0 0 1px var(--primaryColor),
      inset 0 0 5px var(--primaryColor), inset 0 0 10px var(--primaryColor);
    
    &::after {
      content: "";
      position: absolute;
      height: 25%;
      // background: white;
      top: 35%;
      right: calc(-150% - 4px);
      width: 150%;
      border: 4px solid var(--primaryColor);
      border-right: none;
      border-left: none;
    box-shadow: 0 0 1px var(--primaryColor), 0 0 5px var(--primaryColor),
      0 0 10px var(--primaryColor), inset 0 0 1px var(--primaryColor),
      inset 0 0 5px var(--primaryColor), inset 0 0 10px var(--primaryColor);
    }
  }
  .right {
    position: absolute;
    right: 10%;
    width: 20%;
    padding-bottom: 30%;
    border-radius: 50% / 25%;
    border: 4px solid var(--primaryColor);
    box-shadow: 0 0 1px var(--primaryColor), 0 0 5px var(--primaryColor),
      0 0 10px var(--primaryColor), inset 0 0 1px var(--primaryColor),
      inset 0 0 5px var(--primaryColor), inset 0 0 10px var(--primaryColor);
  }
}


@keyframes rotate {
  0%{transform: rotate(0); --primaryColor: #FFF}
  20%{transform: rotate(70deg); --primaryColor: #4deeea}
  40%{transform: rotate(-70deg); --primaryColor: #74ee15}
  60%{transform: rotate(210deg); --primaryColor: #ffe700}
  80%{transform: rotate(280deg); --primaryColor: #f000ff}
  100%{transform: rotate(360deg); --primaryColor: #001eff}
}
