body {
    background: #eee;
    overflow: hidden;
    font-family: "Quicksand";
  }
  
  .header {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .header h1,
  .header h2 {
    margin: 0;
  }
  .header h1 {
    color: #757780;
  }
  .header .number {
    color: #f0a2a2;
  }
  .header .type {
    color: #333;
  }
  .header .social a img {
    margin-top: 10px;
    height: 1.5em;
  }
  
  #content {
    position: relative;
    height: 80vh;
    width: 80vh;
    margin: 10vh auto;
    border-radius: 50%;
    border: 5px solid #57559e;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: backgroundOnMusic linear infinite 1s;
            animation: backgroundOnMusic linear infinite 1s;
  }
  
  svg {
    height: 100%;
    width: 100%;
  }
  
  #headphones,
  #dj {
    -webkit-animation: moveOnMusic linear infinite alternate 0.5s;
            animation: moveOnMusic linear infinite alternate 0.5s;
  }
  
  @-webkit-keyframes moveOnMusic {
    from {
      -webkit-transform: rotate(0deg) translateY(-2px);
              transform: rotate(0deg) translateY(-2px);
    }
    to {
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
  }
  
  @keyframes moveOnMusic {
    from {
      -webkit-transform: rotate(0deg) translateY(-2px);
              transform: rotate(0deg) translateY(-2px);
    }
    to {
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
  }
  @-webkit-keyframes backgroundOnMusic {
    25% {
      background: #274743;
    }
    50% {
      background: #2b3057;
    }
    75% {
      background: #250628;
    }
    100% {
      background: #1a090d;
    }
  }
  @keyframes backgroundOnMusic {
    25% {
      background: #274743;
    }
    50% {
      background: #2b3057;
    }
    75% {
      background: #250628;
    }
    100% {
      background: #1a090d;
    }
  }
  