body {
    background: #eee;
    overflow: hidden;
    font-family: "Quicksand";
}

.header {
    position: absolute;
    left: 10px;
    top: 10px;
}
.header h1, .header h2 { margin: 0; }
.header h1 { color: #757780; }
.header .number { color: #f0a2a2; }
.header .type { color: #333; }
.header .social a img {
    margin-top: 10px;
    height: 1.5em;
}

#container {
    position: relative;
    background: #757780;
    height: 80vh;
    width: 80vh;
    margin: 10vh auto;
    border-radius: 50%;
    -webkit-animation: infiniteDraw 4s linear infinite;
            animation: infiniteDraw 4s linear infinite;
    -webkit-transform-origin: center;
            transform-origin: center;
}

#line {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 2vh solid #333;
    border-right: 2vh solid #757780;
    border-bottom: 2vh solid #757780;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#pencil {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
}

#rubber {
    position: relative;
    background: #f0a2a2;
    height: 10%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#metal {
    position: relative;
    background: #c4d5df;
    height: 12%;
    width: 100%;
}

#crayon {
    position: relative;
    background: #ffd879;
    height: 64%;
    width: 100%;
}

#crayon_center {
    position: absolute;
    background: #fdcc66;
    height: 100%;
    width: 30%;
    left: 35%;
}

#crayon_top {
    border-top: 8vh solid #faeee0;
    border-left: 6vh solid transparent;
    border-right: 6vh solid transparent;
}

#crayon_tip {
    position: relative;
    border-top: 3vh solid #222;
    border-right: 2vh solid transparent;
    border-left: 2vh solid transparent;
    width: 0vh;
    left: 6vh;
    top: -1px;
}

@-webkit-keyframes infiniteDraw {
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@keyframes infiniteDraw {
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
  