body {
  background: #eee;
  overflow: hidden;
  font-family: "Quicksand";
}

.header {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header h1, .header h2 {
  margin: 0;
}
.header h1 {
  color: #757780;
}
.header .number {
  color: #f0a2a2;
}
.header .type {
  color: #333;
}
.header .social a img {
  margin-top: 10px;
  height: 1.5em;
}

.content {
  position: absolute;
  left: 10%;
  bottom: -5px;
  width: 80%;
}
.content .rotate {
  -webkit-transform-origin: 49% 23%;
          transform-origin: 49% 23%;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
