$titleColor: #757780;
$numberColor: #ff7f00;
$nameColor: #a1af37;
$backgroundColor: #eee;

body {
  background: $backgroundColor;
  overflow: hidden;
  font-family: "Quicksand";
}

.header {
  position: absolute;
  left: 10px;
  top: 10px;
  h1, h2 {margin: 0}
  
  h1 {color: $titleColor;}
  .number {color: $numberColor;}
  .type { color: $nameColor; }
  .social a img { 
    margin-top: 10px; 
    height: 1.5em; 
  }
}

#content {
  position: absolute;
  left: 40%;
  top: 100px;
  animation: jump alternate 1s infinite;
}

#content h1 {
  margin: 0;
}

#leftArm {
  transform-origin: left;
  animation: armsUp alternate 1s infinite;
}

#rightArm {
  transform-origin: right;
  animation: armsUp alternate 1s infinite;
}

#leftFoot, #rightFoot {
  transform-origin: center;
  animation: footUp alternate 1s infinite;
}

@keyframes armsUp {
   0%   { transform: rotate(20deg) }
  100% { transform: rotate(-17deg) }
}

@keyframes footUp {
   0%   { transform: translateY(-15px) rotate(0deg) }
  100% { transform: rotate(-5deg) }
}

@keyframes jump {
   0%   { transform: translateY(-15px) }
  100% { transform: rotate(15px) }
}