$titleColor: rgba(0,0,0,0.3);
$numberColor: #e44b21;
$nameColor: #ff6a3f;
$backgroundColor: #eee;

$gray: #ccc;

body {
  background: $backgroundColor;
  overflow: hidden;
  font-family: "Quicksand";
}

.header {
  position: absolute;
  left: 10px;
  top: 10px;
  h1, h2 {margin: 0}
  
  h1 {color: $titleColor;}
  .number {color: $numberColor;}
  .type { color: $nameColor; }
  .social a img { 
    margin-top: 10px; 
    height: 1.5em; 
  }
}

.content {
  width: 60%;
  position: absolute;
  left: 20%;
  height: 100%;
  bottom: 0;
  max-height: 70vh;
  min-width: 350px;
  max-width: 1000px;
  
  .screwdriver {
    position: absolute;
    bottom: 0;
    width: 20%;
    left: 40%;
    // background: red;
    height: 100%;
    
    .bottom {
      position: absolute;
      bottom: 5%;
      width: 70%;
      height: 50%;
      left: 15%;
      background: $nameColor;
      border-radius: 10px 10px 25% 25% / 10px 10px 15% 15%;
      z-index: 1;
      
      &::before {
        content:"";
        width: 70%;
        position: absolute;
        height: 10px;
        top: -10px;
        background: $numberColor;
        left: 15%;
      }
      &::after {
        content:"";
        width: 80%;
        position: absolute;
        height: 15px;
        top: -25px;
        background: $nameColor;
        left: 10%;
        border-radius: 20% / 5%;
      }
      .details {
        position: absolute;
        left: 17.75%;
        width: 10%;
        background: $numberColor;
        height: 80%;
        top: 10%;
        border-radius: 10px;

        &::before {
          content:"";
          position: absolute;
          width: 100%;
          right: -275%;
          height: 100%;
          border-radius: 10px;
          background: $numberColor;
        }
        &::after {
          content:"";
          position: absolute;
          width: 100%;
          right: -570%;
          height: 100%;
          border-radius: 10px;
          background: $numberColor;
        }

      }
      &.shadow {
        position: absolute;
        left: 21%;
        bottom: 3%;
        background: $titleColor;
        z-index: 0;
        
        &::after, &::before {
          background: $titleColor;
        }
      }
    }
    
    .top {
      position: absolute;
      left: 43%;
      width: 14%;
      height: 45%;
      background: $gray;
      z-index: 1;
      
      &::before {
        content: "";
        position: absolute;
        left: -50%;
        top: -35%;
        width: 200%;
        height: 35%;
        background: $gray;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      }
      
      &.shadow {
        left: 49%;
        top: 2%;
        background: $titleColor;
        z-index: 0;
        
        &::after, &::before {
          background: $titleColor;
        }
      }
    }
  }
}